<!DOCTYPE html>
<html>
  <head>
    <title>Wabbit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Squada+One" rel="stylesheet"> 
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  </head>
  <nav>
      <%= link_to root_path do %>
          <%= image_tag 'logos/logo.png', :id =>"logo", alt: 'happy wabbit'%>
      <% end %>    
       <%if user_signed_in? %>
        <ul class="navbar">
          <li><%=link_to 'New Post', new_post_path, class: 'navbar a'%></li>
          <li><%=link_to 'Account', edit_user_registration_path, class: 'navbar a'%></li>
          <li><%=link_to 'Sign Out', destroy_user_session_path, :method => :delete, class: 'navbar a'%></li>
       </ul>
    <%else%>
        <ul class="navbar">
          <li><%=link_to 'Sign Up',  new_user_registration_path , class: 'navbar a'%></li>
          <li><%=link_to 'Sign In',  new_user_session_path , class: 'navbar a'%></li>
        </ul>
    <% end %>
  </nav>
  <body>
    <div id="main" class="post">
    <%= yield %>
  </body>
</html>
